@import url("https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: #2d2d2d;
  text-align: center;
  font-family: "Bagel Fat One";
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 16px;
}

h2 {
  font-family: "Bagel Fat One";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px; /* 120% */
  margin-bottom: 16px;
}

.section {
  width: 100%;
  padding: 80px 16px;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
}

.horizontal {
  display: flex;
  flex-direction: row;
}

.vertical {
  display: flex;
  flex-direction: column;
}

.hero p {
  color: #2d2d2d;
  text-align: center;
  font-family: "Roboto";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

button {
  display: flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 120px;
  background: #f22156;
  border: none;
  color: #fefefe;
}

.hero {
  padding-top: 200px;
}

.cta {
  margin-top: 32px;
  width: fit-content;
}

.hero .container {
  justify-content: center;
  align-items: center;
}

.imgslider {
  margin-top: 64px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* gap: 400px; */
  width: 100%;
  overflow-y: hidden;
  position: relative;
}

.imgslider::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.imgslider {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.menu .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
  align-self: stretch;
}

.menu > p {
  color: #2d2d2d;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.menu h2 {
  margin: 0;
}
.menu .section-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.menu-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 90px;
  align-self: stretch;
}

.category {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  /* margin-top: 64px; */
}

.category-img {
  width: 45%;
  /* background-color: red; */
  max-height: 440px;
}

.category-list {
  margin-top: 20px;
  width: 45%;
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  align-self: stretch;
  border-radius: 20px;
  background: #f22156;
}

.category-list h3 {
  color: #fefefe;

  font-family: "Bagel Fat One";
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-self: stretch;
}

.category-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}

.category-item {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

.item-detail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
}

.item-name {
  color: #fefefe;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}

.item-desc {
  color: #fefefe;
  font-family: Roboto;
  font-size: 16px;
  font-style: italic;
  font-weight: 200;
  line-height: 24px; /* 150% */
}

.item-price {
  color: #fefefe;
  text-align: right;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}

.category-opp {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  /* margin-top: 64px; */
}

.subscription-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  align-self: stretch;
}

.subscription-item:nth-child(2){
  border:2px solid #f22156;
  /* padding-block: 100px; */
  height: 600px;
  justify-content: space-between;
}

.subscription-item {
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  /* height: 517px; */
  padding: 44px 32px;
  flex-direction: column;
  justify-content: center;
  gap:40px;
  align-items: center;
  border-radius: 32px;
  background: #fefefe;
  /* align-self: stretch; */
}

.subscription {
  position: relative;
  /* background:red; */
}

.bgrnd {
  width: 95%;
  height: 88%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 80px;
  background: #FEF0D7;
  z-index: -1;
}

.subscription .section-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  color: #2d2d2d;
}

.subscription .container {
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
  align-self: stretch;
}

.promoted {
  /* height: 625px;
  position: relative; */
  overflow: hidden;
}

.promoted .subscription-name {
  color: #f22156;
}

.promoted .price {
  color: #f22156;
}

.subscription-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

.subscription-name {
  align-self: stretch;
  color: #2d2d2d;
  text-align: center;
  font-family: "Bagel Fat One";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.subscription-description {
  align-self: stretch;
  color: #2d2d2d;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
  line-height: normal;
}

.subscription ul {
  color: #2d2d2d;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.subscription-opt {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
  align-self: stretch;
}

.price {
  color: #2d2d2d;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.subscription-opt button {
  align-self: stretch;
}

.sticker {
  display: flex;
  width: 370px;
  padding: 7px 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  background: #f22156;
  top: 0;
}

.sticker p {
  color: #f4e0e5;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.section-heading p {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.buy .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
  align-self: stretch;
}

.buy .section-heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.buy-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.buy-name {
  color: #2d2d2d;
  font-family: "Bagel Fat One";
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.buy-desc {
  color: #2d2d2d;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.buy-item {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 12px;
  flex: 1 0 0;
  width: 30%;
}

.buy-items {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}

.buy-img {
  display: flex;
  /* height: 521px; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border-radius: 20px;
  object-fit: cover;
}

.buy-price {
  color: #f22156;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 16px;
}

.testimonials .section-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}

.testslider {
  margin-top: 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  overflow-y: hidden;
  position: relative;
}

.testslider::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.testslider {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.overlay {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  background: linear-gradient(
    270deg,
    #fefefe 5%,
    rgba(254, 254, 254, 0) 25%,
    rgba(254, 254, 254, 0) 75%,
    #fefefe 95.5%
  );
  position: absolute;
}

.footer {
  display: flex;
  padding: 80px 120px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  background: #f22156;
}

.footer .container {
  display: flex;
 flex-direction: row;  /* column-gap: 80px; */
}

.logo-social {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 30%;
}

.logo-social > img {
  width: 99.791px;
  height: 115.502px;
  aspect-ratio: 99.79/115.5;
}

.social {
  display: flex;
  align-items: flex-start;
  gap: 32px;
}

.social img {
  width: 24px;
  height: 24px;
}

.footer-links {
  display: flex;
  width:70%;
  align-items: flex-start;
  gap: 48px;
}

.quick-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.quick-links h3 {
  color: #fefefe;
  font-family: "Bagel Fat One";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-self: stretch;
}

.quick-links a {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  color: #fefefe;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: none;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.quick-links p {
  color: #fefefe;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 40ch;
}

.footer form {
  display: flex;
  padding: 16px 24px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 120px;
  background: #fefefe;
  border: none;
  width: 100%;
  max-width: 300px;
}

.footer input {
  background-color: none;
  border: none;
}

.footer button {
  background-color: transparent;
  padding: 0;
}

nav {
  display: flex;
  width: 100%;
  height: fit-content;
  padding: 20px 120px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background: #fefefe;
  z-index: 100;
  top: 0;
}

.logo{
  width:80px;
}

.navlinks {
  display: flex;
  align-items: center;
  gap: 62px;
  list-style: none;
}

.navlinks a {
  color: #2d2d2d;
  text-align: center;
  font-family: "Bagel Fat One";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 140% */
  text-decoration: none;
}

.navlinks a:hover {
  color: #f22156;
}

.slick-slide {
  transform: scale(0.8);
  transition: all 0.5s;
  border-radius: 20px;
  overflow: hidden;
}

.slick-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 100%;
  transition: all 0.5s;
}

.overlayslider{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #2d2d2dc5;
  top:0;
  display: none;
  color: #fefefe;
}

.slick-slide .overlay{
  display: none;
}

.slick-center {
  transform: scale(1);
  border-radius: 20px;
}

.slick-center .overlayslider{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  padding: 20px;
  text-align: left;
}

.overlayslider h3{
  align-self: stretch;
  color: #FFF;
font-family: "Bagel Fat One";
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.overlayslider .testimonial-description{
  text-align: left;
  align-self: stretch;
  color: #FFF;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 8px;
}

.overlayslider .testimonial-name{
  text-align: left;
  margin-top: 40px;
  color: #FFF;
font-family: "Bagel Fat One";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.slick-arrow {
  margin: 0;
  transform: scale(1.5);
  
}

.slick-next {
  right: 300px;
}

.slick-next:before {
  opacity: 1;
  font-size: 28px;
}

.slick-prev {
  left: 300px;
  z-index: 20;
}

.slick-prev:before {
  opacity: 1;
  font-size: 28px;
}

nav{
  background-color: white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li{
  height: 50px;
}
nav a{
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #2d2d2d;
  font-family: 'Bagel Fat One';
}
nav a:hover{
  background-color: #f0f0f0;
}
nav li:first-child{
  margin-right: auto;
}
.sidebar{
  position: fixed;
  top: 0; 
  right: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top:80px;
}
.sidebar li{
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.sidebar img{
  height: 40px;
}
.sidebar a{
  width: fit-content;
  margin: 0 auto;
  text-align: center;
}
.menu-button{
  display: none;
}
@media(max-width: 800px){
  .hideOnMobile{
    display: none;
  }
  .menu-button{
    display: block;
  }
  
}
@media(max-width: 400px){
  .sidebar{
    width: 100%;
  }
}

@media only screen and (max-width : 768px)
{
  .category{
    flex-direction: column;
  }

  .category-opp{
    flex-direction: column;
  }

  .category-img {
    width: 100%;
    height:300px;
    object-fit: cover;
    border-radius: 20px;
    
  }
  
  .category-list {
    width: 100%;
  }

  .subscription-wrapper {
    flex-direction: column;
  }

  .buy-items {
    justify-content: flex-start;
    gap: 0;
    overflow-x: scroll;
  }

  .buy-item {
    padding-inline: 16px;
    /* width: 45% !important; */
    min-width: 400px;
  }

  .buy-img{
    height: 300px;
  }

  .footer .container{
    flex-direction: column;
  }

  .logo-social{
    width: 100%;
    align-items: center;
  }

  .footer-links{
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 20px;
    flex-wrap: wrap;
  }

  .quick-links{
    padding-block: 20px;
    align-items: center;
  }
  

  .quick-links h3{
    text-align: center;
  }

  .quick-links a{
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
  }

  .section-heading{
    text-align: center !important; 
    justify-content: center !important;
    align-items: center !important;
  }

  .bgrnd{
    height: 100%;
    width: 95%;
  }

  .subscription-item{
    width: 100%;
  }

  .subscription-wrapper{
    padding-inline: 16px;
  }

  h1 {
    font-size: 40px;
  }

  .hero p {
    font-size:16px;
  }

  .hero {
    padding-top:120px !important;
  }
  
  .section{
    padding: 40px 16px;
  }

  .footer{
    padding: 40px 16px;
  }
  nav{
    padding: 20px 16px;
  }
}

@media only screen and (max-width: 450px){
  .footer-links{
    flex-direction: column;
    align-items: center;
flex-wrap: nowrap;
gap:16px;  }

.quick-links{
  align-items: center;
  justify-content: center;
}

.footer form {
  align-self: center;
}
}